# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS system file
.DS_Store

# Ignore image files in dataset folders
train_val_ds/**/*.jpg
train_val_ds/**/*.png
test_ds/**/*.jpg
test_ds/**/*.png

# Keep placeholder files and folders
!train_val_ds/
!train_val_ds/**/
!train_val_ds/**/.gitkeep

!test_ds/
!test_ds/**/
!test_ds/**/.gitkeep

# Virtual environments
.venv/
env/

# Logs
*.log

# VSCode
.vscode/

